<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginFacebook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D14D47CE1E0A299A00F0AEF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D14D47E21E0A299B00F0AEF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D14D47ED1E0A299B00F0AEF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
